<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<bindings>
   <netTcpBinding>
    <binding name="NetTcpBinding_IStudent">
     <reliableSession enabled="true" />
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IStudent1">
     <reliableSession enabled="true" />
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
		<client>
   <endpoint address="net.tcp://127.0.0.1:8000/Seat" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IStudent" contract="ServiceReference1.IStudent"
    name="NetTcpBinding_IStudent" />
  </client>
	</system.serviceModel>
</configuration>